.mywants-grid_check-grid-row {
  display: flex;
}
.mywants-grid_check-grid-col {
  max-width: $mywants-grid-h;
}

.mywants-grid_check-element {
  width: 0;
  height: 0;
  overflow: hidden;
  .mywants-grid_check-element-cont {
    $ch_w: 24px;
    margin-top: 0.5 * ($mywants-grid-h - $mywants-grid-inner-h);
    margin-left: 0.5 * ($mywants-grid-h - $mywants-grid-inner-h);
    padding-top: 0.5 * ($mywants-grid-inner-h - $ch_w);
    padding-left: 0.5 * ($mywants-grid-inner-h - $ch_w);
    border: 1px solid $border-color;
    background-color: #eee;
    width: $mywants-grid-inner-h;
    height: $mywants-grid-inner-h;
    border-radius: 4px;
  }

  &.extended-w {
    width: $mywants-grid-h;
  }
  &.extended-h {
    height: $mywants-grid-h;
  }
}
