.mywants-grid_container {
  width: 100%;
  overflow: auto;

  height: calc(100vh - 80px);
  .mywants-grid_container-wrap {
    width: 100%;
    padding-right: 25px;
    padding-bottom: 25px;
  }
}

.mywants-grid_card {
  border: 3px solid transparent; //
  .card-body {
    padding: 14px;
  }
  &.not-commitment {
    border-color: rgba($danger, 0.4);
  }
}

@import "grid/my-items";
@import "grid/my-wants";
@import "grid/checks";
@import "grid/spacer";
@import "grid/tools";
