.mywants-grid_container {
  width: 100%;
  overflow: auto;

  height: calc(100vh - 80px);
  .mywants-grid_container-wrap {
    width: 100%;
    padding-right: 25px;
    padding-bottom: 25px;
  }
}

@import "grid/my-items";
@import "grid/my-wants";
@import "grid/checks";
@import "grid/spacer";
@import "grid/tools";
