.mywants-grid_container {
  width: 100%;
  overflow: auto;

  height: calc(100vh - 80px);
  .mywants-grid_container-wrap {
    width: 100%;
    padding-right: 25px;
    padding-bottom: 25px;
  }
}

.quad-want_card,
.mywants-grid_card {
  position: relative;
  border: 3px solid transparent;
  min-height: 200px;
  .card-body {
    padding: 14px;
  }
  &.not-commitment {
    border-color: rgba($danger, 0.4);
  }

  .mywants-card-dimmer {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.6;
    border-radius: $card-border-radius;
  }
}

@import "grid/my-items";
@import "grid/my-wants";
@import "grid/checks";
@import "grid/spacer";
@import "grid/tools";
@import "quads/itemGroup";
