.mywants-grid_myItems-row {
  display: flex;

  .mywants-grid_myItems-left-spacer {
    width: $mywants-grid-left-width;
    padding: 0 0 1px;
    .mywants-grid_myItems-left-spacer_cont {
      background-color: #eee;
      height: 100%;
      border-radius: 4px 4px 0 4px;
      border: 1px solid $border-color;
      position: relative;

      .mywants-grid_myItems-left-lab_my_items,
      .mywants-grid_myItems-left-lab_my_wants {
        position: absolute;
        width: 260px;
        height: $mywants-grid-inner-h;
        line-height: $mywants-grid-inner-h;
      }
      .mywants-grid_myItems-left-lab_my_items {
        padding-left: 40px;
        bottom: -$mywants-grid-inner-h;
        left: $mywants-grid-left-width - $mywants-grid-inner-h;
        transform: rotate(-90deg);
        transform-origin: top left;
      }
      .mywants-grid_myItems-left-lab_my_wants {
        padding-left: 10px;
        bottom: 0;
        left: 0;
      }
      .mywants-grid_myItems-left-lab_cont-line {
        position: absolute;
        bottom: -2px;
        right: -150px;
        border-top: 2px solid $border-color;
        width: 150px;
        height: 2px;
        transform: rotate(-135deg);
        transform-origin: top left;
      }
      .mywants-grid_myItems-left-lab_cont {
        position: absolute;
        border-bottom: 1px solid $border-color;
        border-right: 1px solid $border-color;
        background-color: #fff;
        top: 0;
        left: 0;
        right: $mywants-grid-inner-h;
        bottom: $mywants-grid-inner-h;
        border-radius: 4px 0 4px 0;
        padding: 10px;
      }
    }
  }
  .my-item-lab {
    width: 0px;
    overflow: hidden;
    transition: width $mywants-grid-duration;

    .my-item-lab_content {
      margin-left: 0.5 * ($mywants-grid-h - $mywants-grid-inner-h);
      width: $mywants-grid-inner-h + 2px;
      border: 1px solid #ddd;
      background-color: #e6e6e6;
      border-radius: 4px;
      height: 100%;

      .my-item-lab_name {
        width: $mywants-grid-inner-h;
        height: calc(100% - $mywants-grid-inner-h);
        padding: 5px 0;

        .my-item-lab_name-text {
          height: 100%;
          transform: rotate(180deg);

          .text {
            writing-mode: vertical-lr;
            //text-orientation: i;
            white-space: nowrap;
            line-height: $mywants-grid-inner-h;
            font-size: 14px;
          }
        }

        &.for-group {
          .my-item-lab_name-text {
            font-weight: bold;
          }
        }

        &.for-item {
          height: calc(100% - (2 * $mywants-grid-inner-h));
        }
      }

      .my-item-lab_arrow {
        width: $mywants-grid-inner-h;
        height: $mywants-grid-inner-h;
        padding-top: 0.5 * ($mywants-grid-inner-h - 25px);
        padding-left: 0.5 * ($mywants-grid-inner-h - 25px);
        cursor: pointer;
        transition: transform $mywants-grid-duration;

        .my-item-lab_arrow-inner {
          width: 25px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          border-radius: 50%;
          transition: background-color 0.1s;
        }

        &:hover {
          .my-item-lab_arrow-inner {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }

        &.extended {
          transform: rotate(90deg);
        }
      }

      .my-item-lab_previewer,
      .my-item-lab_thumbnail {
        width: $mywants-grid-inner-h;
        height: $mywants-grid-inner-h;
        padding-top: 0.5 * ($mywants-grid-inner-h - 30px);
        padding-left: 0.5 * ($mywants-grid-inner-h - 30px);
      }

      &.isInner {
        height: calc(100% - (0.25 * $mywants-grid-inner-h));
        background-color: #fff;
      }
    }
    &.extended {
      width: $mywants-grid-h;
    }
  }
}
