.results-header {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 50px;
}

.results-item {
  padding: 70px 0;
  max-width: 800px;
  margin: 0 auto;
  border-top: $border-dark;
}

.results-count {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 15px;
}

.results-item-wrap {
  position: relative;
  width: 800px;
  height: 380px;

  .results-item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    svg {
      display: block;
      width: 100%;
      height: 100%;

      .arrow-right {
        fill: $result-send-color;
      }
      .arrow-left {
        fill: $result-receive-color;
      }
    }
  }

  .results-item-label-right,
  .results-item-label-left {
    font-weight: bold;
  }

  $results-item-label-left: 24%;
  .results-item-label-right {
    top: 18%;
    left: $results-item-label-left;
    color: $result-send-color;
  }
  .results-item-label-left {
    bottom: 27%;
    left: $results-item-label-left;
    color: $result-receive-color;
  }

  .results-float {
    position: absolute;
  }
  //
  .results_user-my {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .results_user-to {
    top: 4%;
    right: 0;
  }
  .results_user-from {
    bottom: 4%;
    right: 0;
  }
  //
  .results_item-to,
  .results_item-from {
    left: 50%;
    transform: translateX(-50%);
  }
  .results_item-to {
    top: 0;
  }
  .results_item-from {
    bottom: 0;
  }
}
.result-choose-user {
  text-align: center;
  padding: 70px 0;
  font-style: italic;
  font-size: 18px;
}

.results-input {
  width: 450px;
}
.results-input_check {
  padding-top: 32px;
  padding-left: 8px;
  padding-bottom: 4px;
}
.results-item_user {
  .results-item_user-cont {
    //background-color: #f00;
    width: 90px;

    .avatar {
      margin: 0 auto 10px;
      box-shadow: $result-box-shadow;
    }

    .results-item_user-text {
      text-align: center;
      font-size: 11px;
      .results-item_user-title {
        font-weight: bold;
        font-size: 12px;
      }
    }
  }
}
.results-item-quad {
  $w: 130px;
  width: $w;

  .results-item-quad-cont {
    width: $w;
    border: $border;
    background-color: #fff;
    padding: 4px;
    border-radius: 8px;
    box-shadow: $result-box-shadow;
  }

  .results-item-quad-cont-inner {
    position: relative;
    overflow: hidden;
  }
  .previewer {
    position: absolute;
    bottom: 2px;
    right: 2px;
  }
  .results-item-quad-title {
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
  }
}

///////////////////
.result-table {
  font-size: 12px;
  width: 100%;
  text-align: center;
  border-top: $border;
  border-top-width: 3px;

  thead {
    background-color: #eee;
  }

  td {
    padding: 5px;
    &.td-avatar {
      width: 28px;
    }
    &.td-2 {
      width: 1%;
    }
  }

  .result-table_name {
    text-align: left;
  }
  .result-table_commitment {
    text-align: left;
    font-style: italic;
    font-size: 11px;
  }

  .result-table_tag {
    font-weight: bold;
    padding: 0 1.5em;
    &.result-table_tag-send {
      color: $result-send-color;
    }
    &.result-table_tag-receive {
      color: $result-receive-color;
    }
  }

  .result-table_title {
    font-weight: bold;
    text-align: left;
  }

  tr {
    border-bottom: $border;
    transition: background-color 0.1s;

    &.tr-bottom {
      border-bottom-width: 3px;
    }
    &:hover {
      background-color: #eee;
    }

    &.tr-danger {
      background-color: rgba($danger, 0.3);
      &:hover {
        background-color: rgba($danger, 0.4);
      }
    }
  }
  a {
    display: inline-block;
    font-weight: bold;
  }

  .commint-yes {
    color: $success;
  }
  .commint-no {
    color: $danger;
  }

  &.for-users {
    border-top-width: 1px;
    text-align: left;

    th {
      font-weight: bold;
      .icon {
        font-size: 18px;
        margin-left: 0.3em;
        vertical-align: middle;
        opacity: 0.3;
        &.active {
          opacity: 1;
        }
      }
      &.th-pointer {
        cursor: pointer;
      }
    }
    th,
    td {
      padding: 8px 12px;
    }

    tr {
      border-bottom: 2px solid #ebebeb;
    }
  }
}
