//colors
$colorArray: rgb(0, 184, 240) #b75eff #ff39b3 #ff5f5f;
$n: 5;

.loading-graph {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}
.domino {
  text-align: center;
  transform: scale(0.7);
}
.domino > .domino-item {
  border-radius: 4px 25px 25px 4px;
  display: inline-flex;
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  animation: domino-effect 2.4s infinite ease-in-out;
  @each $current-color in $colorArray {
    $i: index($colorArray, $current-color);
    &:nth-child(#{$i}) {
      //background: #fff; //$current-color;
      &:after {
        background: $current-color;
        animation-delay: #{0.6 * $i}s;
      }
    }
  }
  @for $i from 1 through $n {
    &:nth-child(#{$i}) {
      margin: 10px;
      animation-delay: #{0.6 * $i}s;
    }
  }
  &:after {
    content: "";
    position: relative;
    top: 0px;
    left: -43px;
    opacity: 0;
    border-radius: 6px;
    width: 40px;
    height: 40px;
    animation: illusion 2.4s infinite ease-in-out;
  }

  //animation
  .domino-hand {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
  }
}
@keyframes beat {
  to {
    transform: scale(1.4);
  }
}
@keyframes spin {
  to {
    transform: rotate(140deg);
  }
}

@keyframes domino-effect {
  20%,
  100% {
    transform: rotate(135deg);
  }
}

@keyframes illusion {
  0%,
  25% {
    opacity: 1;
  }
  26.10%,
  33.33%,
  100% {
    opacity: 0;
  }
} ;
