.element-create_step-0 {
  text-align: center;
}
.element-create_step-1 {
  padding: 0 15px;
  max-width: 440px;
  margin: 0 auto;
  text-align: center;

  .element-create-options_title {
    font-size: 13px;
    //border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    font-weight: bold;
    color: #888;
    text-transform: uppercase;
    .icon {
      font-size: 11px;
    }
    .element-create-options_subtitle {
      font-size: 11px;
      color: rgba(darken($secondary, 12), 0.8);
      text-transform: none;
    }
  }
  .element-create-options_row_cont {
    border: 1px solid #ddd;
    padding: 8px 0;
    border-radius: 10px;
  }
  .element-create-options_row {
    display: flex;

    .element-create-options_col {
      flex: 0 0 50%;
      border-left: 1px solid #ccc;
      padding: 10px 0;

      cursor: pointer;

      .icon {
        font-size: 36px;
        color: darken($secondary, 3);
      }

      .element-create-options_text {
        padding-top: 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        color: #444;
        span {
          text-transform: none;
        }
      }
      .icon,
      .element-create-options_text {
        transition: opacity 0.1s;
      }

      &:first-child {
        border-left: none;
      }

      &.disabled {
        cursor: not-allowed;
        .icon,
        .element-create-options_text {
          color: #aaa;
        }
      }

      &:not(.disabled):hover {
        .icon,
        .element-create-options_text {
          opacity: 0.7;
        }
      }
    }
  }
}
.element-create-step-2 {
  // padding: 25px;
  .element-create_bgg-search {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 25px;
  }
}
