.element-drop-version {
  $thumb_width: 192px;

  position: relative;
  height: $thumb_width * 2;
  overflow: hidden;

  .element-drop-version_thumbnail {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: $thumb_width;
    padding: 10px;
    img {
      display: block;
      width: 100%;
      height: auto;
      border: 1px solid #ddd;
    }
  }
  .element-drop-version_list {
    position: absolute;
    top: 0;
    left: $thumb_width + 15px;
    right: 0;
    bottom: 0;
    overflow-y: auto;

    .element-drop-version_item {
      font-size: 12px;
      font-weight: bold;
      padding: 12px 15px;
      border-bottom: 1px solid transparent;
      border-top: 1px solid #ddd;
      border-left: 1px solid #ddd;
      background-color: #f0f0f0;
      color: #666;
      cursor: pointer;

      &.selected {
        border-left-color: transparent;
        background-color: #fff;
        color: #000;
        border-top-color: transparent;
      }
      &.prev {
        border-bottom-left-radius: 20px;
        border-bottom: 1px solid #ddd;
      }
      &.next {
        border-top-left-radius: 20px;
      }
    }
    &::-webkit-scrollbar {
      width: 12px;
    }
  }
}
@media screen and (max-width: 768px) {
  .element-drop-version {
    height: 220px;
    .element-drop-version_thumbnail {
      display: none;
    }
    .element-drop-version_list {
      position: relative;
      left: 0;
      height: 100%;
      .element-drop-version_item {
        &.prev {
          border-bottom-left-radius: 0;
        }
        &.next {
          border-top-left-radius: 0;
        }
      }
    }
  }
}
