.element-edit {
  padding: 15px;
  .element-thumbnail-container {
    width: 210px;
    padding-right: 20px;
    border-right: 1px solid #ddd;
  }
  &.for-combo {
    border: 1px solid #ddd;
    margin-bottom: 14px;
    border-radius: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.element-form-container {
  max-width: 835px;
}

@media screen and (max-width: 768px) {
  .element-edit {
    .element-thumbnail-container {
      padding-right: 0;
      border-right: none;
    }
    .element-data-container {
      padding-left: 0;
    }
  }
}
