.element-edit {
  .element-edit-container {
    position: relative;
    padding: 10px;
  }

  .element-thumbnail-container {
    position: relative;
    overflow: hidden;
    border-right: 1px solid #ddd;
    padding-right: 10px;
    width: 172px;
    height: 100%;

    // &.loading {
    //   opacity: 0.5;
    // }
    .picture {
      border: 1px solid #ddd;
    }
  }
  .element-edit-data-container {
    padding: 0 30px;
  }
  .element-title {
    font-weight: bold;
    font-size: 22px;
    .element-title-badge {
      font-size: 10px;
      vertical-align: middle;
    }
  }

  &.create {
    border-top: 1px solid #ddd;
  }
}
