.element {
  .element-container {
    border: 1px solid transparent;
  }
  .element-thumbnail-container {
    height: 100%;
    background-color: rgb(41, 41, 41);
    position: relative;
    overflow: hidden;
    border-right: 1px solid #ddd;
    width: 160px;

    .element-thumbnail-bg {
      position: absolute;
      top: -15%;
      left: -15%;
      width: 130%;
      height: 130%;
      filter: blur(8px);
      -webkit-filter: blur(8px);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.9;
    }
    .picture {
      position: relative;
    }
  }
  .element-data-container {
    padding-left: 20px;
  }
  .element-title {
    font-weight: bold;
    font-size: 20px;
    .element-title-badge {
      font-size: 10px;
      vertical-align: middle;
    }
  }

  .element-dependency {
    .element-dependency-btn {
      &.enabled {
        cursor: pointer;
      }
    }
    .dropdown-item-text {
      border-bottom: 1px solid #ddd;
      padding-top: 6px;
      padding-bottom: 6px;
      cursor: default;

      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: rgba($secondary, 0.2);
      }
    }
    .element-dependency_list-item {
      width: 520px;
      font-size: 12px;
    }
  }

  //////////
  .element-data-game {
    margin-bottom: 1em;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }

  .element-data-element {
    .element-data-element_row {
      font-size: 11px;
      display: inline-block;
      padding: 0 2em 1em 0;
    }
  }
}
