.game-quad {
  $w: 200px;
  width: $w;
  margin: 0 auto 30px;
  .game-thumbnail-container {
    height: 100%;
    background-color: rgb(41, 41, 41);
    position: relative;
    overflow: hidden;
    border-right: 1px solid #ddd;
    width: $w;

    .game-thumbnail-bg {
      position: absolute;
      top: -15%;
      left: -15%;
      width: 130%;
      height: 130%;
      filter: blur(8px);
      -webkit-filter: blur(8px);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.9;
    }
    .picture {
      position: relative;
      max-height: 1.7 * $w;
    }
  }
  .game-quad-content {
    padding: 5px 12px;
    border-top: 1px solid #ddd;
  }
  .game-title {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #ccc;
  }
  .game-data-bgg {
    margin-bottom: 10px;
  }
  .game-data-dependency {
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 6px;
  }
  &.wanted {
    width: $w + 4px;

    border: 2px solid $mathtrade;
  }
}
