.timeline-wrap {
  $milestone-width: 120px;

  $line-top: 60px;

  padding: 0 (0.5 * $milestone-width);

  width: 1000px;
  margin: 0 auto;

  height: 310px;

  .timeline {
    position: relative;

    .timeline-bar {
      position: absolute;
      top: 6px + $line-top;
      left: 0;
      width: 100%;
      height: 8px;
      background-color: #c2c2c2;

      .timeline-bar-inner {
        position: absolute;
        top: 0;
        height: 100%;
        background: #00ad47;
      }
    }

    .clock {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);
      text-align: center;

      .clock-arrow {
        width: 0;
        height: 0;
        border-width: 12px 8px 3px;
        border-style: solid;
        border-color: #00ad47 transparent transparent;
        display: inline-block;
      }
    }

    .milestone {
      position: absolute;
      top: $line-top;
      width: $milestone-width;
      text-align: center;
      margin-left: -0.5 * $milestone-width;
    }
  }
}
