.badge {
  &.bg-ce {
    background-color: rgb(223, 152, 0);
  }
  &.bg-nu {
    background-color: rgb(221, 0, 173);
  }
  &.bg-cn {
    background-color: rgb(140, 0, 233);
  }
  &.bg-ex {
    background-color: rgb(0, 196, 42);
  }
  &.bg-mb {
    background-color: rgb(0, 59, 221);
  }
  &.bg-bu {
    background-color: rgb(99, 96, 90);
  }
  &.bg-mu {
    background-color: rgb(66, 65, 65);
  }
  &.bg-in {
    background-color: rgb(158, 2, 2);
  }

  &.bg-expansion {
    background-color: rgb(255, 236, 129);
    color: rgb(102, 90, 24) !important;
    border: 1px solid rgb(190, 168, 39);
  }

  &.border-min {
    border-radius: 3px;
  }
}
