.box_item {
  .box_item-text {
    font-size: 14px;
    padding-bottom: 2px;
    font-weight: bold;
  }
  .box_item-label {
    line-height: 1;
    font-size: 10px;
  }
}

.box {
  background-color: #eee;
  padding: 8px;
  border-radius: $border-radius;
  margin-bottom: 8px;

  &.bg-bgg {
    background-color: rgba($bgg, 0.2);
  }

  &.minimal {
    margin-bottom: 0;
    padding: 4px 6px;
  }
}
