.btn.btn_circle {
  position: relative;
  padding: 0;
  width: $btn_circle-w - 2px;
  height: $btn_circle-w - 2px;
  line-height: $btn_circle-w - 2px;
  text-align: center;
  border: 1px solid transparent;
  background-color: #999;
  font-size: 22px;
  color: #fff;
  border-radius: 50%;
  margin-left: $btn_circle-ml;
  display: inline-block;
  box-shadow: $main-box-shadow;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 60%;
    rect,
    path {
      fill: #fff;
    }
  }

  &.btn-edit-item {
    background-color: $primary;
    &:hover {
      background-color: #fff;
      border-color: $primary;
      color: $primary;
    }
  }
  &.btn-valuate-item {
    background-color: #f6f6f6;
    border-color: $border-color;
  }

  &.btn-publish-mt {
    background-color: $mathtrade-offer-color;
    svg {
      top: 44%;
      left: 55%;
    }
    &:hover {
      background-color: #fff;
      border-color: $mathtrade-offer-color;
      svg {
        rect,
        path {
          fill: $mathtrade-offer-color;
        }
      }
    }
  }
  &.btn-unpublish-mt {
    background-color: #fff;
    border-color: $mathtrade-offer-color;
    svg {
      left: 53%;
      rect,
      path {
        fill: $mathtrade-offer-color;
      }
    }
    &:hover {
      background-color: $mathtrade-offer-color;

      svg {
        rect,
        path {
          fill: #fff;
        }
      }
    }
  }
  &.btn-i-want-it {
    background-color: $mathtrade-want-color;
    &:hover {
      background-color: #fff;
      border-color: $mathtrade-want-color;
      color: $mathtrade-want-color;
    }
  }
  &.btn-in-want-list {
    border-color: $mathtrade-want-color;
    color: $mathtrade-want-color;
    background-color: #fff;
    &:hover {
      background-color: $mathtrade-want-color;
      color: #fff;
    }
  }

  &.btn_circle_min {
    width: $btn_circle_min-w - 2px;
    height: $btn_circle_min-w - 2px;
    line-height: $btn_circle_min-w - 2px;
    &.btn-i-want-it,
    &.btn-in-want-list {
      font-size: 18px;
    }
  }
}
