.btn {
  border-radius: 20px;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: 500;

  &.btn-primary {
    background-color: $primary;
    border-color: $primary;
    &:hover,
    &:active {
      background-color: darken($primary, 10);
      border-color: darken($primary, 10);
    }
    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 4px rgba($primary, 0.5);
    }
  }

  &.btn-outline-primary {
    color: $primary;
    border-color: $primary;
    &:hover,
    &:active {
      color: #fff;
      background-color: darken($primary, 10);
      border-color: darken($primary, 10);
    }
    &:focus,
    &:focus-visible {
      outline: none;
      color: #fff;
      background-color: darken($primary, 10);
      box-shadow: 0 0 0 4px rgba($primary, 0.5);
    }
  }

  &.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;
    &:hover,
    &:active {
      background-color: darken($secondary, 10);
      border-color: darken($secondary, 10);
    }
    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 4px rgba($secondary, 0.5);
    }
  }

  &.btn-outline-secondary {
    color: $secondary;
    border-color: $secondary;
    &:hover,
    &:active {
      color: #fff;
      background-color: darken($secondary, 10);
      border-color: darken($secondary, 10);
    }
    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 4px rgba($secondary, 0.5);
    }
  }

  &.btn-orange {
    background-color: $orange;
    border-color: $orange;
    color: #fff;
    &:hover,
    &:active {
      background-color: darken($orange, 10);
      border-color: darken($orange, 10);
    }
    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 4px rgba($orange, 0.5);
    }
  }
  &.btn-outline-orange {
    color: $orange;
    border-color: $orange;
    &:hover,
    &:active {
      color: #fff;
      background-color: darken($orange, 10);
      border-color: darken($orange, 10);
    }
    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 4px rgba($orange, 0.5);
    }
  }

  &.btn-white {
    background-color: #fff;
    border-color: #fff;
    color: $primary;
    &:hover,
    &:active {
      background-color: darken(#fff, 10);
      border-color: darken(#fff, 10);
    }
    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 4px rgba(#fff, 0.5);
    }
  }
  &.btn-outline-white {
    color: #fff;
    border-color: #fff;
    &:hover,
    &:active {
      color: $primary;
      background-color: darken(#fff, 10);
      border-color: darken(#fff, 10);
    }
    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 4px rgba(#fff, 0.5);
    }
  }

  &.btn-add-min {
    color: darken($secondary, 2);
    text-transform: uppercase;
    font-size: 11px;
    &:hover,
    &:active {
      color: darken($secondary, 10);
      border-color: #ccc;
    }
    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: none;
    }
  }

  &.btn-xs {
    border-radius: 16px;
  }

  &.btn-xs {
    border-radius: 10px;
    font-size: 12px;
    line-height: 1.2;
    padding: 0.2em 0.8em;
  }
  &.btn-sm {
    border-radius: 16px;
  }
  &.btn-lg {
    border-radius: 25px;
  }

  &.btn-outline-link {
    border-color: #ccc;
    &:hover,
    &:active {
      color: #fff;
      background-color: #aaa;
      border-color: #aaa;
    }
  }
}
