.btn{

  border-radius: 20px;
  padding-left: 2em;
  padding-right: 2em;

  &.btn-primary{
    background-color: $primary;
    border-color: $primary;
    &:hover,
    &:active{
      background-color: darken($primary, 10);
      border-color: darken($primary, 10);    
    }
    &:focus,
    &:focus-visible{
      outline: none;
      box-shadow: 0 0 0 4px rgba($primary,.5)
    }
  }

  &.btn-outline-primary{
    color:$primary;
    border-color: $primary;
    &:hover,
    &:active{
      color:#FFF;
      background-color: darken($primary, 10);
      border-color: darken($primary, 10);    
    }
    &:focus,
    &:focus-visible{
      outline: none;
      box-shadow: 0 0 0 4px rgba($primary,.5)
    }
  }

  &.btn-secondary{
    background-color: $secondary;
    border-color: $secondary;
    &:hover,
    &:active{
      background-color: darken($secondary, 10);
      border-color: darken($secondary, 10);    
    }
    &:focus,
    &:focus-visible{
      outline: none;
      box-shadow: 0 0 0 4px rgba($secondary,.5)
    }
  }

  &.btn-outline-secondary{
    color:$secondary;
    border-color: $secondary;
    &:hover,
    &:active{
      color:#FFF;
      background-color: darken($secondary, 10);
      border-color: darken($secondary, 10);    
    }
    &:focus,
    &:focus-visible{
      outline: none;
      box-shadow: 0 0 0 4px rgba($secondary,.5)
    }
  }

  &.btn-sm{
    border-radius: 16px;
  }
  &.btn-lg{
    border-radius: 25px;
  }
}