.card {
  box-shadow: $main-box-shadow;
  border: none;
}

.card,
.card-header {
  border-radius: $card-border-radius !important;
}
.tyc-card {
  max-width: 1100px;
  margin: 0 auto 30px;
}

.tyc-ul {
  li {
    margin-bottom: 1.5em;
  }
}
