.card-comp {
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);

  .card-comp_header {
    $border-radius-header: $border-radius - 2px;
    // background-color: $card-comp_header_bg;

    background: linear-gradient(
      0deg,
      $card-comp_header_bg-1 0%,
      $card-comp_header_bg-2 140%
    );

    color: #000;
    padding: 6px 8px;
  }
  .card-comp_body {
    padding: 8px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
  .card-comp_footer {
    border: 1px solid transparent;
    border-top-color: #ddd;
    padding: 8px;
  }

  .card-comp_title {
    font-weight: bold;
    font-size: 18px;
  }
  &.high {
    .card-comp_header {
      background: $mathtrade;
      color: #fff;
    }
    .card-comp_body {
      border-color: $mathtrade;
      &.with-footer {
        border-bottom: none;
      }
    }
    .card-comp_footer {
      border-left-color: $mathtrade;
      border-right-color: $mathtrade;
      border-bottom-color: $mathtrade;
    }
  }
}
