html,
body {
  height: 100%;
}

body {
  background-color: #eee;
}

#__next {
  height: 100%;
}

.main-container {
  max-width: $main-container-width;
  padding: 0 15px;
  margin: 0 auto;
}

.main-container-public {
  max-width: $main-container-width;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  padding: 25px 15px;
}

.main-container-wide {
  margin: 0 50px;
}

.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.v-centered {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .v-centered_col {
    width: 100%;
  }
}

.op-0 {
  opacity: 0;
}

b {
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary;
  outline: none;
}
.bt {
  border-top: 1px solid #ccc;
}
