.dragger {
  $w: $btn_circle-w - 2px;
  $w_cont: 32px;
  $ws: 3px;
  $m: 0.2 * ($w_cont - ($ws * 4));
  $wp: 0.5 * ($w - $w_cont) + $m;

  position: relative;
  .dragger-handler {
    cursor: move;
    background-color: #fff;

    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    width: $w;
    height: $w;
    border-radius: $card-border-radius;
    //background-color: rgba(0, 0, 0, 0.158);
    line-height: 0;
    padding-top: $wp;
    padding-left: $wp;

    .dragger-handler-cont {
      width: $w_cont;
      height: $w_cont;

      span {
        display: inline-block;
        width: $ws;
        height: $ws;
        background-color: $text-muted;
        margin-right: $m;
        margin-bottom: $m;
        border-radius: 50%;
      }
    }
  }

  &.dragging {
    opacity: 0.2;
  }

  &.dragger-for-item-extense {
    .dragger-handler {
      top: $item-pt + ($element-full-p - $wp) + 3px;
      left: 2px;
    }
  }
}

.dropper {
  border-radius: 2px;
  &.available {
    box-shadow: 0 0 0 6px rgba($primary, 0.3);
  }
  &.active {
    box-shadow: 0 0 0 6px rgba($primary, 0.8);
  }
}
//////
.dropper-temp {
  border: 2px solid #000;
  background-color: rgb(238, 170, 170);
  height: 400px;
}

.dragger-temp {
  border: 2px solid #00f;
  background-color: rgb(170, 216, 238);
  height: 200px;
}
