.filters-container {
  padding: 10px 15px 10px 0;

  .clear-filter-box {
    font-size: 12px;
    text-align: center;
    padding-top: 15px;

    a {
      color: $secondary;
      display: inline-block;
    }
  }

  .form-label {
    font-size: 12px;
  }
}
