.main-footer{
  
  height: $main-footer-height;
  line-height: $main-footer-height;
  text-align: center;
  font-size: 11px;

  &.absolute{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    .main-footer_container{
      border-top: 1px solid #CCC;
    }  
  }

  
}