.game-quad-card {
  .thumbnail {
    max-height: 400px;
  }
  .game-quad-card_content {
    padding: 5px;
  }

  .game-quad-card_title {
    font-weight: bold;
    margin: 0;
  }

  .game-quad-card_content_row-1 {
    padding: 0.4em 0;
  }
  .game-quad-card_content_row-2 {
    padding: 0.4em 0 0.4em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  .bgg-game-box {
    margin: 0;
  }
}
