.invite {
  position: relative;
  background-color: $secondary;
  background: linear-gradient(
    20deg,
    $bg-body-3 10%,
    $primary 40%,
    $secondary 80%
  );

  border-radius: 10px;
  overflow: hidden;
  max-height: 0;
  margin-bottom: 0;
  transition: all 0.8s;
  opacity: 0;

  .invite-close {
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  .invite-container {
    &,
    h3 {
      color: #fff;
    }

    padding: 30px 20px;
  }

  &.visible {
    max-height: 1000px;
    margin-bottom: 20px;
    opacity: 1;
  }
}
