.item-comments-container {
  padding: 10px 25px;
}
.item-comments-container_header {
  .item-comments-container_header-btn {
    display: inline-block;
    font-size: 13px;
    cursor: pointer;

    span {
      font-size: 11px;
    }

    .icon {
      margin-right: 6px;
      font-size: 11px;
      transition: transform 0.2s;
    }

    &:hover {
      opacity: 0.8;
    }

    &.isOpen {
      .icon {
        transform: rotate(90deg);
      }
    }
  }
}
.item-comments-list {
  position: relative;
  padding-top: 12px;
  &.loading {
    min-height: 150px;
  }
}
.item-comment {
  $color-other: rgb(59, 164, 255);
  $color-my: rgb(67, 190, 67);
  $w-user: 90px;

  $m-blob: 15px;

  padding: 0 0 20px;

  .item-comment_user {
    padding-top: 8px;
    width: $w-user;
    .avatar {
      margin: 0 auto 10px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }

    .item-comment_user-text {
      text-align: center;
      font-size: 11px;
      .item-comment_user-title {
        font-weight: bold;
        font-size: 12px;
      }
    }
  }

  .item-comment-blob-container {
    padding-left: $m-blob;
    padding-right: $w-user + $m-blob;

    .item-comment-blob {
      padding: 0 15px;
      position: relative;
      min-height: 80px;
      background-color: lighten($color-other, 35);
      border: 1px solid $color-other;
      border-radius: 12px;
      &:before,
      &:after {
        position: absolute;
        top: 29px;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px;
      }
      &:before,
      &:after {
        left: -20px;
      }
      &:before {
        border-color: transparent $color-other transparent transparent;
      }
      &:after {
        margin-left: 2px;
        border-color: transparent lighten($color-other, 35) transparent
          transparent;
      }
    }

    &.isMyUser {
      padding-right: $m-blob;
      padding-left: $w-user + $m-blob;
      .item-comment-blob {
        background-color: lighten($color-my, 46);
        border: 1px solid $color-my;
        &:before,
        &:after {
          right: -20px;
          left: auto;
        }
        &:before {
          border-color: transparent transparent transparent $color-my;
        }
        &:after {
          margin-right: 2px;
          border-color: transparent transparent transparent
            lighten($color-my, 46);
        }
      }
    }

    .item-comment-blob_comment {
      padding: 10px 0;
      font-size: 13px;
    }
    .item-comment-blob_edit {
      padding-top: 12px;
    }
    .item-comment-blob_footer {
      padding: 5px 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .item-comment-date {
      font-size: 12px;
      font-style: italic;
      border-right: $border;
      margin-right: 12px;
      padding-right: 12px;
    }
    .item-comment-thumb {
      display: inline-block;
      font-size: 12px;
      cursor: pointer;
      .icon {
        color: #999;
      }

      & + .item-comment-thumb {
        margin-left: 10px;
      }

      &.col-up {
        font-weight: bold;
        &,
        .icon {
          color: #00cc33;
        }
      }
      &.col-down {
        font-weight: bold;
        &,
        .icon {
          color: #f14317;
        }
      }

      &:hover {
        opacity: 0.8;
      }
    }
    .item-comment-btn-edit-container {
      border-left: $border;
      margin-left: 12px;
      padding-left: 12px;
    }
    .item-comment-btn-edit {
      display: inline-block;
      border: 1px solid $color-my;
      font-size: 12px;
      padding: 0 10px;
      border-radius: 4px;
      color: $color-my;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        background-color: $color-my;
        color: #ddd;
      }
    }
    .item-comment-btn-delete-container {
      padding-left: 12px;
      text-align: right;
    }
    .item-comment-btn-delete {
      display: inline-block;
      font-size: 13px;
      color: $danger;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}

// item-comments-form
.item-comments-form {
  padding: 0 0 12px;
  textarea {
    font-size: 12px;
  }
}
.item-comments-form-label {
  font-size: 12px;
}
.item-comments-list-edit {
  padding: 0 104px;
}
