.loading-pad {
  position: fixed;
  z-index: 20000;
  right: 20px;
  width: $loading-pad-w;
  height: $loading-pad-w;
  background-color: $loading-pad-bg;
  border-radius: 50%;
  box-shadow: $main-box-shadow;

  top: 0;
  opacity: 0;
  transition: all 0.2s;

  .loading-pad_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 34px;
    animation: loading-pad_inner-anim 0.2s ease-out;
  }
  &.visible {
    top: 20px;
    opacity: 1;
  }
}

@keyframes loading-pad_inner-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
