.main-sidebar {
  position: fixed;
  z-index: $main-sidebar-z;
  top: $main-control-py;
  bottom: $main-control-py;
  left: $main-control-px;
  overflow: hidden;
  box-shadow: $main-box-shadow;
  width: $main-sidebar-closed-w;
  border-radius: 0.5 * $main-sidebar-closed-w;

  .main-sidebar-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $main-sidebar-open-w;
    background-color: #fff;
  }
  .main-sidebar-top {
    padding: $main-sidebar-top-p 0 0;
    height: $main-sidebar-top-h;
  }
  .main-sidebar-center {
    position: absolute;
    top: $main-sidebar-top-h;
    left: 0;
    width: 100%;
    bottom: $main-sidebar-bottom-h;
    // background-color: #eee;
    overflow: auto;
  }
  .main-sidebar-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: $main-sidebar-bottom-pt 0 $main-sidebar-bottom-pb;
    height: $main-sidebar-bottom-h;
  }
  /*****************************/

  .main-logo {
    display: block;
    text-decoration: none;
    color: #aaa;
    line-height: 1;

    .main-logo_img {
      width: $main-sidebar-closed-w;
      height: $main-sidebar-closed-w;
      //   background-color: #888;
      padding: 0.5 * ($main-sidebar-closed-w - $main-sidebar-icon-w);
    }

    .main-logo_text {
      font-weight: bold;
      padding-left: 5px;
      .main-logo_text_1 {
        font-size: 19px;
        padding-bottom: 1px;
      }
      .main-logo_text_2 {
        font-size: 14px;
        padding-left: 2px;
      }
    }
  }

  /*****************************/
  .main-menu-divider {
    .main-menu-divider_line {
      //text-transform: uppercase;
      line-height: 1.2;
      font-size: 11px;
      padding-top: 20px;
      padding-left: $main-sidebar-closed-w;
      color: #ccc;
      border-bottom: 1px dotted #ddd;
    }
  }
  .main-menu {
    display: block;

    .main-menu-item {
      position: relative;
      display: block;
      height: $main-sidebar-closed-w;
      text-decoration: none;
      color: $main-sidebar-color;
      line-height: 1;

      .main-menu-item_icon {
        width: $main-sidebar-closed-w;
        height: $main-sidebar-closed-w;
        text-align: center;
        line-height: $main-sidebar-closed-w;
        font-size: 20px;
      }

      .main-menu-item-tag {
        position: absolute;
        bottom: -4px;
        left: 0.5 * $main-sidebar-closed-w;
        transform: translateX(-50%);
        background-color: $mathtrade;
        color: #fff;
        text-transform: uppercase;
        font-size: 8px;
        line-height: 1.6;
        font-weight: bold;
        padding: 0 5px;
        border-radius: 3px;
      }

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
      &:not(.disabled):hover {
        color: $main-sidebar-color-hover;
      }

      &.main-menu-item-sign-out {
        color: $main-sidebar-signOut-color;
      }

      &.active {
        box-shadow: inset 5px 0 0 0 $primary;
        color: $primary;
        background-color: $main-sidebar-current-bg;
      }

      &.hot {
        box-shadow: inset 5px 0 0 0 $mathtrade;
        color: $mathtrade;
        background-color: rgba($mathtrade, 0.1);
        &:hover {
          color: $mathtrade;
        }
      }
    }
  }
  /*****************************/

  &.sidebar-animation-enabled {
    transition: width $main-sidebar-transition $main-sidebar-delay;
    .main-logo,
    .main-menu-divider {
      transition: padding $main-sidebar-transition $main-sidebar-delay;
    }
    .main-menu {
      .main-menu-item {
        transition: padding $main-sidebar-transition $main-sidebar-delay,
          color 0.1s;
      }
    }
  }

  &:hover,
  &.sidebar-open {
    width: $main-sidebar-open-w;
    //
    .main-logo,
    .main-menu-divider {
      padding-left: $main-sidebar-padding-extended;
      padding-right: $main-sidebar-padding-extended;
    }
    .main-menu {
      .main-menu-item {
        padding-left: $main-sidebar-padding-extended;
        padding-right: $main-sidebar-padding-extended;
      }
    }
  }
}
.main-sidebar-toggler {
  // temp
  display: none;
  //
  position: fixed;
  z-index: $main-sidebar-toggler-z;
  top: $main-sidebar-toggler-y;
  left: $main-sidebar-toggler-x;
  width: $main-sidebar-toggler-w + 20px;
  height: $main-sidebar-toggler-w + 20px;
  padding: 10px;
  opacity: 0.5;
  cursor: pointer;

  .main-sidebar-toggler-cont {
    width: $main-sidebar-toggler-w;
    height: $main-sidebar-toggler-w;
    background-color: $main-sidebar-toggler-color;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    line-height: $main-sidebar-toggler-w;
    font-size: 12px;
    padding-top: 1px;
    padding-left: 2px;
  }

  &:hover {
    opacity: 1;
  }

  &.sidebar-open {
    z-index: $main-sidebar-toggler-z-extended;
    left: $main-sidebar-toggler-x-extended;

    .main-sidebar-toggler-cont {
      transform: rotate(180deg);
    }
  }

  &.sidebar-animation-enabled {
    transition: left $main-sidebar-transition $main-sidebar-delay, opacity 0.1s;
    .main-sidebar-toggler-cont {
      transition: transform $main-sidebar-transition $main-sidebar-delay;
    }
  }
}

.main-sidebar-mobile-closer {
  $wb: 45px;

  position: absolute;
  top: 0;
  right: 0;
  color: $text-color;
  width: $wb;
  height: $wb;
  line-height: $wb;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: $mobile_limit) {
  .main-sidebar {
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 0;
    display: none;

    .main-sidebar-container {
      width: 100%;
    }

    &,
    &:hover,
    &.sidebar-open {
      width: 100%;
      //
      .main-logo,
      .main-menu-divider {
        padding-left: $main-sidebar-padding-extended;
        padding-right: $main-sidebar-padding-extended;
      }
      .main-menu {
        .main-menu-item {
          padding-left: $main-sidebar-padding-extended;
          padding-right: $main-sidebar-padding-extended;
        }
      }
    }

    &.show-mobile-sidebar {
      display: block;
    }
  }
}
