.main-footer {
  height: $main-footer-height;
  line-height: $main-footer-height;
  text-align: center;
  font-size: 11px;

  &.absolute {
    position: absolute;
    left: $main-sidebar-closed-w + $main-control-px;
    right: 0;
    bottom: 0;
    .main-footer_container {
      border-top: 1px solid #ccc;
    }
    &.sidebar-open {
      left: $main-sidebar-open-w + $main-control-px;
    }

    &.sidebar-animation-enabled {
      transition: left $main-sidebar-transition $main-sidebar-delay;
    }
  }
}

@media screen and (max-width: $mobile_limit) {
  .main-footer {
    &,
    &.absolute {
      &,
      &.sidebar-open {
        left: 0;
      }
    }
  }
}
