.main-header {
  position: fixed;
  z-index: $main-header-z;
  height: 0;
  top: 0;
  left: $main-sidebar-closed-w + $main-control-px;
  right: 0;

  &.sidebar-open {
    left: $main-sidebar-open-w + $main-control-px;
  }

  &.sidebar-animation-enabled {
    transition: left $main-sidebar-transition $main-sidebar-delay;
  }

  .main-header-container {
    height: 0;
    width: 100%;
    position: relative;
  }
}

.main-user,
.main-timeline-btn,
.main-notifications-btn {
  position: absolute;
  display: block;
  top: $main-control-py;
  box-shadow: $main-box-shadow;
  width: $main-control-w;
  height: $main-control-w;
  background-color: #fff;
  border-radius: 50%;
  color: $main-header-color;
  font-size: 20px;
  cursor: pointer;
}

.main-user {
  right: 0;
  padding: 4px;
}
.main-timeline-btn {
  right: 2 * ($main-control-w + $main-header-control-p);
  text-align: center;
  line-height: $main-control-w;
  background-color: $primary;
  color: #fff;
}
.main-notifications-btn {
  right: $main-control-w + $main-header-control-p;
  text-align: center;
  line-height: $main-control-w;

  .main-notifications-btn_count {
    position: absolute;
    top: 0;
    right: 0;
    $w: 18px;
    background-color: $primary;
    color: #fff;
    min-width: $w;
    height: $w;
    line-height: $w;
    text-align: center;
    border-radius: 0.5 * $w;
    font-size: 0.6 * $w;
    padding: 0 3px;
    font-weight: bold;
  }
}

.alert-form-header {
  position: absolute;
  top: 15px;
  right: 140px;
  box-shadow: $main-box-shadow;
  font-size: 12px;
}

.main-timeline-pad {
  width: 1050px;
  padding: 25px;
  border-radius: $card-border-radius;
}

.main-header_logo-mobile {
  display: none;

  .main-header_logo-mobile-logo {
    width: 40px;
    height: 40px;
    img {
      display: block;
      width: 40px;
      height: 40px;
    }
  }

  .main-header_logo-mobile-btn {
    width: $header-mobile-h;
    height: $header-mobile-h;
    line-height: $header-mobile-h;
    text-align: center;
    cursor: pointer;
  }
}

.alert-no-commitment {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 180px;
  padding: 15px 0 0;
  text-align: center;

  .alert {
    margin: 0;
    a {
      font-weight: bold;
      color: #d00;
    }
  }
}

.show-alert-no-commitment {
  .alert-no-commitment {
    display: block;
  }
}

@media screen and (max-width: $mobile_limit) {
  .main-header_logo-mobile {
    display: block;
  }
  .main-header {
    height: $header-mobile-h;
    background-color: #fff;
    box-shadow: $main-box-shadow;

    .main-header-container {
      height: $header-mobile-h;
    }

    &,
    &.sidebar-open {
      left: 0;
    }
  }

  .main-user,
  .main-timeline-btn,
  .main-notifications-btn {
    position: relative;
    top: auto;
    box-shadow: none;
    width: $header-mobile-h;
    height: $header-mobile-h;
    background-color: #fff;
    border-radius: 0;
    color: $text-color;
    font-size: 20px;
    cursor: pointer;
  }

  .main-user {
    right: auto;
    padding: 4px;
    width: $header-mobile-h * 0.9;
    height: $header-mobile-h * 0.9;
  }
  .main-notifications-btn {
    right: auto;
  }
  .main-timeline-btn {
    right: auto;
  }

  .alert-no-commitment {
    top: 0;
    left: 91;
    right: 146px;
    padding: 5px 0 0;

    .alert {
      padding: 5px;
    }
  }
}
@media screen and (max-width: 600px) {
  .alert-no-commitment {
    top: 57px;
    left: 0;
    right: 0;
    padding: 0;
  }
}
