.order-by {
  $h: 22px;

  font-size: 12px;
  .order-by_label {
    padding-right: 5px;
  }

  .order-by_btn {
    background-color: $primary;
    color: #fff;
    height: $h;
    line-height: $h;
    padding: 0 1em;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.1s;

    .icon {
      margin-right: 5px;
    }

    &:hover {
      background-color: darken($primary, 10);
    }
  }

  .order-by_checkbox {
    position: relative;
    top: 2px;
    line-height: 13px;
    height: 13px;
  }

  .order-by_select {
    position: relative;
    min-width: 120px;
    background-color: #fff;
    padding: 1px 24px 1px 10px;
    height: $h;
    border: 1px solid $primary;
    border-radius: 4px;

    select {
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      background: transparent;
      // border: 1px solid #ccc;
      // padding: 0 0.5em;
      // background-color: #fff;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 6px;
      top: 7px;
      width: 0;
      height: 0;
      border-width: 6px;
      border-color: $text-color transparent transparent;
      border-style: solid;
    }
  }

  &.not-auto {
    .order-by_select {
      border-radius: 4px 0 0 4px;
    }
  }
}
