.paginator {
  $w: 36px;
  $m: 4px;
  padding-right: $item-pr - $m;

  .paginator-row {
    text-align: center;

    .paginator-item {
      min-width: $w;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      line-height: $w;
      height: $w;
      margin: 0 $m;
      display: inline-block;
      cursor: pointer;
      color: #444;
      transition: color 0.1s;
      text-decoration: none;
      background-color: #fff;
      border-radius: 0.5 * $w;
      box-shadow: $main-box-shadow;

      &:not(.paginator-item_points):not(.paginator-item_current):hover {
        color: #aaa;
      }

      &.paginator-item_current {
        background-color: $primary;
        color: #fff;
        cursor: default;
      }
      &.paginator-item_points {
        cursor: default;
        background-color: transparent;
        box-shadow: none;
      }
      &.paginator-item_first,
      &.paginator-item_last {
        font-size: 12px;
      }
    }
  }
  &.onTop {
    padding-bottom: 25px;
  }
  &.onBottom {
    padding-top: 25px;
    padding-bottom: 15px;
  }

  &.over-white {
    .paginator-row {
      .paginator-item {
        box-shadow: 0 0 0 1px #ccc;
      }
    }
  }
}
