.previewer {
  $w: 30px;
  border: 1px solid $primary;
  width: $w;
  height: $w;
  line-height: 1;
  border-radius: 5px;
  background-color: #fff;
  color: $primary;
  font-size: 16px;
  transition: all 0.1s;

  &:hover,
  &:focus {
    background-color: $primary;
    color: #fff;
  }

  &.colorInverted {
    background-color: $primary;
    color: #fff;

    &:hover,
    &:focus {
      background-color: darken($primary, 12);
    }
  }
}
.previewer-container {
  min-width: 800px;
  max-height: 90vh;
  overflow: auto;
}
.previewer-container_header {
  .previewer-container_close {
    $w: 36px;
    width: $w;
    height: $w;
    line-height: $w;
    text-align: center;
    margin-left: auto;
    opacity: 0.4;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
.previewer-container_body {
  padding: 0 15px 15px;
}
.previewer-popover {
  .popover {
    max-width: 900px;
  }
}
