.sidebar-group-list {
  // height: 100vh;
  // overflow-x: hidden;
  // overflow-y: auto;
  // position: sticky;
  // top: 0;
  .sidebar-group-list_tag {
    padding: 0.5em 1em;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    position: relative;
    transition: all 0.15s;
    // opacity: 0.8;

    .sidebar-group-list_tag_inner {
      padding: 0.8em 1em;
      border-radius: 0.4em;
      cursor: pointer;
      position: relative;
      z-index: 2;

      // &:hover {
      //   opacity: 1;
      // }
    }
    .sidebar-group-list_tag_edit {
      $w: 18px;

      font-size: 10px;
      width: $w;
      height: $w;
      line-height: $w;
      text-align: center;
      background-color: #000;
      color: #fff;
      border-radius: 50%;
      margin-left: 0.5em;
      vertical-align: middle;
      opacity: 0.5;
      display: none;
    }
    &.current {
      background-color: rgba($primary, 0.1);
      border-top-color: rgba($primary, 0.3);
      border-bottom-color: rgba($primary, 0.3);
      opacity: 1;
      //.sidebar-group-list_tag_inner {
      // box-shadow: 0 0 1px 2px rgba($primary, 0.2);
      //}
      &.child {
        padding-left: 3.5em;
      }
    }
    $lineColor: #aaa;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 2em;
      bottom: 0;

      width: 1px;
      background-color: $lineColor;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 2em;
      height: 1px;
      width: 3em;
      background-color: $lineColor;
    }

    &.child {
      padding-left: 3em;
    }
    &:not(.child) {
      &:before {
        top: 50%;
      }
      &:after {
        display: none;
      }
    }
    &:hover {
      .sidebar-group-list_tag_edit {
        display: inline-block;
      }
    }
    &:last-child {
      &:before {
        bottom: 50%;
      }
    }
  }
}
