.status-help {
  padding: 0 10px;
  width: 420px;
}
.status-help-row {
  border-top: 1px solid $border-color;
  padding: 10px 0;
  &:first-child {
    border-top: none;
  }
  .status-help-badge {
    font-size: 13px;
  }
  .status-help-desc {
    padding-left: 10px;
    font-size: 11px;
    font-weight: normal;
  }
}
