.nav-tabs {
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;

  &,
  a {
    color: $text-color;
  }
  a {
    opacity: 0.46;
    padding: 12px 30px;
  }

  a.active {
    opacity: 1;
  }
}

.tab-pane {
  padding-top: 40px;
}
