body {
  font-family: $font;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-alt;
  color: #111;
  b {
    font-weight: bold;
  }
}

a {
  color: $primary;
}
.muted {
  color: #999;
}

.smallest {
  font-size: 75%;
}
.italic {
  font-style: italic;
}
