body {
  font-family: $font;
  color: #333;
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-alt;
  color: #111;
  b {
    font-weight: bold;
  }
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 18);
  }
}
.muted {
  color: #999;
}
.text-color {
  color: $text-color;
}

.smallest {
  font-size: 75%;
}
.italic {
  font-style: italic;
}
.text-normal {
  font-weight: normal !important;
}
.bold {
  font-weight: bold;
}
.text-primary {
  color: $primary;
}
