.timeline-wrap {
  width: 100%;
  overflow-x: auto;
}

.timeline-container {
  max-width: 2000px;
  min-width: 1000px;
  margin: 0 auto;
  padding: 60px 66px 80px;
}
.timeline {
  $p: 3px;
  $b-rad: 3px;
  $bar-h: 16px;

  $q-geek: 40%;
  $q-want: 60%;
  $q-res: 15%;
  $q-meet: 100% - ($q-want + $q-res);

  $col-geek: #d1003f;
  $col-want: #2fb636;
  $col-res: #930bbd;
  $col-meet: #2e87cf;
  //
  $pos_top: 10px;
  $pos_bottom: 8px;
  $pos-date_width: 100px;
  $pos-text_width: 130px;

  .timeline_line {
    position: relative;

    .timeline_line_bottom {
      display: flex;
      margin-top: 1.5 * $p;
    }

    .timeline_line-bar {
      padding: 0 $p;
      .timeline_line-inner {
        height: $bar-h;
        border-radius: $b-rad;
        border: 1px solid transparent;
      }

      &.timeline_line-bar-geek {
        width: $q-geek;
        .timeline_line-inner {
          background-color: lighten($col-geek, 40);
          border-color: $col-geek;
        }
      }
      &.timeline_line-bar-want {
        flex: 0 0 $q-want;
        .timeline_line-inner {
          background-color: lighten($col-want, 30);
          border-color: $col-want;
        }
      }
      &.timeline_line-bar-res {
        flex: 0 0 $q-res;

        .timeline_line-inner {
          background-color: lighten($col-res, 45);
          border-color: $col-res;
        }
      }
      &.timeline_line-bar-meet {
        flex: 0 0 $q-meet;
        .timeline_line-inner {
          background-color: lighten($col-meet, 34);
          border-color: $col-meet;
        }
      }
    }

    .timeline_pos {
      position: absolute;
      top: -1 * $pos_top;
      bottom: -1 * $pos_bottom;
      background-color: #000;
      width: 1px;

      .timeline_pos_date {
        position: absolute;
        width: $pos-date_width;
        bottom: 100%;
        left: -0.5 * $pos-date_width;
        text-align: center;
        font-weight: bold;
        line-height: 1.3;

        .timeline_pos_date-hour {
          font-size: 13px;
        }
      }
      .timeline_pos_text {
        position: absolute;
        width: $pos-text_width;
        top: 100%;
        left: -0.5 * $pos-text_width;
        text-align: center;
        font-size: 11px;
        padding-top: 4px;
      }

      &.timeline_pos-start {
        left: 0;
      }
      &.timeline_pos-geek {
        left: $q-geek;
      }
      &.timeline_pos-want {
        left: $q-want;
      }
      &.timeline_pos-res {
        left: $q-want + $q-res;
      }
      &.timeline_pos-meet {
        left: 100%;
      }
    }
  }
}
