.user-card-sign_container {
  border: 2px solid darken($border-color, 20);
  border-radius: 2 * $border-radius;
  padding: 25px 35px;
  text-align: center;
  margin-bottom: 20px;
}
.uuu {
  background-image: url("https://cf.geekdo-static.com/avatars/avatar_id150448.jpg");
}

.user-credencial-container {
  max-width: 400px;
  margin: 0 auto 20px;
  padding-top: 20px;

  .user-credencial {
    display: block;
    width: 100%;
  }
}
