.valuation-title,
.valuation-btn {
  position: relative;
  $h: 36px;
  cursor: pointer;

  .valuation-btn_star {
    font-size: 32px;
    line-height: $h;
    height: $h;
    //color: $mathtrade;
    &.ic-loading {
      font-size: 22px;
    }
  }
  .valuation-btn_num {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    line-height: 1;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 14px;
  }
}
.valuation-title {
  .valuation-btn_star {
    height: $btn_circle-w - 2px;
    line-height: $btn_circle-w - 2px;
  }
}

.valuation-min {
  position: relative;
  $h: 30px;

  .valuation-btn_star {
    font-size: 26px;
    line-height: $h;
    height: $h;
    //color: $mathtrade;
    &.ic-loading {
      font-size: 22px;
    }
  }
  .valuation-btn_num {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    line-height: 1;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 12px;
  }
}

.valuation-container {
  $h: 36px;
  background-color: #fff;
  //width: $h;
  border-radius: $h;
  text-align: center;

  .dropdown-menu {
    padding: 0;
    .dropdown-item {
      padding: 0;
      &:hover {
        background-color: #fff;
      }
    }
  }
  .valuation-label {
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
  }
  .valuation-liner {
    $h3: 26px;
    display: flex;
    align-items: center;
    padding: 0 20px 15px;
    .valuation-line-star {
      .valuation-line-btn {
        position: relative;
        padding: 0 4px;
        cursor: pointer;
        .valuation-line-btn_star {
          font-size: 26px;
          line-height: $h3;
          height: $h3;
          // color: #000; //$mathtrade;
          position: relative;
          top: 1px;
          opacity: 0.2;
          transition: opacity 0.1s;
        }
        .valuation-line-btn_num {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          color: #999;
          text-align: center;
          line-height: 1;
          transform: translateY(-50%);
          font-weight: bold;
          font-size: 11px;
        }
        &.prev,
        &.current {
          .valuation-line-btn_star {
            opacity: 1;
          }
          .valuation-line-btn_num {
            color: #fff;
          }
        }
      }
    }
  }
  &:hover {
    .valuation-line-star {
      .valuation-line-btn {
        &.current {
          .valuation-line-btn_star {
            color: $mathtrade-hover;
            opacity: 1;
          }
        }
      }
    }
  }
}

@each $num, $color in $starsColor {
  .star-color-#{$num} {
    color: $color;
  }
}
