// COLORS

$primary: rgb(0, 190, 204);
$secondary: rgb(228, 67, 174);

$mathtrade: rgb(206, 0, 137);
$mathtrade-bg-1: rgba($mathtrade, 0.06);
$mathtrade-bg-2: rgba($mathtrade, 0.4);
$mathtrade-bg-3: rgba($mathtrade, 0.2);
$mathtrade-bg-4: rgba($mathtrade, 0.1);
$mathtrade-hover: darken($mathtrade, 20);
$mathtrade-darken: darken($mathtrade, 20);

$bg-body-1: rgb(27, 86, 135);
$bg-body-2: rgb(34, 193, 195);
$bg-body-3: rgb(64, 0, 124);

$bg-primary: #279;
$bg-secondary: #279;
$bg-body: lighten(desaturate($primary, 73), 49); // #e9e9e9;
//$bg-body: #e9e9e9;

$danger: #dc3545;
$orange: rgb(255, 81, 0);

$bgg: rgb(255, 81, 0);

$text-color: #666;
$text-muted: #999;

/// // MAIN SHADOW
$main-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.06);

$result-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);

$border-color: #ddd;
$border: 1px solid $border-color;
$border-dark: 1px solid darken($border-color, 20);

$switch-view-color: #777;

$card-comp_header_bg-2: rgba($mathtrade, 0.08);
$card-comp_header_bg-1: rgba($mathtrade, 0.15);

$border-radius: 8px;

$mathtrade-offer-color: rgb(212, 69, 69);
$mathtrade-offer-border-color: $mathtrade-offer-color;
$mathtrade-want-color: rgb(33, 163, 0);

$mathtrade-wanted-color: $mathtrade;
$mathtrade-want-border-color: $mathtrade-wanted-color;

$mathtrade-edit-color: $primary;

// ITEMS, ELEMENTS
$card-border-radius: 20px;
$thumbnail-border-radius: 12px;
$card-bg: #fff;
$element-full-title-mr: 200px;
$item-pt: 15px;
$item-pr: 15px;
$item-title-fz: 15px;
$item-title-color: #999;
$element-title-fz: 21px;
$element-title-color: #333;
$element-full-p: 11px;

// GAME
$game-col-p: 45px;
$game-w: 280px;
$game-border-radius: 20px;
$game-bg: #111;
$game-color: #fff;

// BTN CIRCLE
$btn_circle-w: 45px;
$btn_circle-ml: 8px;
$btn_circle_min-w: 30px;

// MODAL
$modal-border-radius: $card-border-radius;
$modal-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
$modal-backdrop-bg: rgb(255, 255, 255);
$modal-backdrop-op: 0.85;

// loading-pad
$loading-pad-w: 60px;
$loading-pad-bg: lighten($mathtrade-want-color, 5);

// Ratings BGG
$ratingsBGG: (
  "0": #666e75,
  "1": #b2151f,
  "2": #b2151f,
  "3": #d71925,
  "4": #d71925,
  "5": #5369a2,
  "6": #5369a2,
  "7": #1978b3,
  "8": #1d804c,
  "9": #186b40,
  "10": #186b40,
);

// STARS
$starsColor: (
  "0": #ccc,
  "1": #fb0900,
  "2": #e04b00,
  "3": #cf7100,
  "4": #bd9200,
  "5": #a7a900,
  "6": #8aa803,
  "7": #6ba806,
  "8": #47a80d,
  "9": #24a812,
  "10": #0aa516,
);

$element-type-badge-bg-1: #e45300;
$element-type-badge-bg-2: #c59700;
$element-type-badge-bg-3: #c400aa;

// RESULTS///////////////////////
$result-send-color: lighten($danger, 5);
$result-receive-color: $mathtrade-want-color;
///////////////////////

// PRIVATE LAYOUT
$main-control-py: 16px;
$main-control-px: 16px;
$main-control-w: 50px;
$main-header-control-p: 10px;
$main-header-color: $text-muted;
$main-header-height: $main-control-w + 4 * $main-control-py;
$main-footer-height: 40px;
$main-container-width: 1560px;
$main-sidebar-icon-w: 40px;
$main-sidebar-closed-w: 60px;
$main-sidebar-open-w: 280px;
$main-sidebar-transition: 0.2s;
$main-sidebar-delay: 0.8s;
$main-wrap-z: 999;
$main-header-z: 1000;
$main-sidebar-z: 1002;
$main-sidebar-toggler-z: 1001;
$main-sidebar-toggler-z-extended: 1003;
$main-sidebar-toggler-w: 22px;
$main-sidebar-toggler-x: $main-control-py + $main-sidebar-closed-w - 5px;
$main-sidebar-toggler-x-extended: $main-control-py + $main-sidebar-open-w - 2 *
  $main-sidebar-toggler-w;
$main-sidebar-toggler-y: 0.5 *
  ($main-control-py + $main-sidebar-closed-w - $main-sidebar-toggler-w);

$main-sidebar-toggler-color: $primary;
$main-sidebar-padding-extended: 30px;
$main-sidebar-top-p: 0px;
$main-sidebar-top-h: $main-sidebar-closed-w + $main-sidebar-top-p + 15px;
$main-sidebar-bottom-pt: 20px;
$main-sidebar-bottom-pb: 0;
$main-sidebar-bottom-h: $main-sidebar-closed-w + $main-sidebar-bottom-pt +
  $main-sidebar-bottom-pb;
$main-sidebar-color: $text-muted;
$main-sidebar-color-hover: $primary;
$main-sidebar-signOut-color: lighten($danger, 20);
$main-sidebar-current-bg: rgba($primary, 0.06);

// SIZES
$item-owner-min-h: 82px;

$mywants-grid-h: 42px;
$mywants-grid-inner-h: 36px;
$mywants-grid-duration: 0.2s;

$mywants-grid-spacer-lab-h: 60px;

$mywants-my-Items-lab-height: 520px;
$mywants-my-Wants-lab-width: 680px;

$mywants-grid-left-width: $mywants-my-Wants-lab-width;
$mywants-item-bg: #ddd;
$mywants-game-bg: $orange;
$mywants-group-bg: $primary;
$mywants-group-border-bottom: 10px solid lighten($border-color, 7);
$mywants-checkbox-color: $mathtrade;

// mobile limit
$mobile_limit: 992px;

// FONTS
$font: "Montserrat", sans-serif;
$font-alt: "Comfortaa", sans-serif;

@mixin font-alt {
  font-family: $font-alt;
  //letter-spacing: .05em;
}
