.my-item-minimal-group-container {
  margin-bottom: 4px;
}

.my-item-minimal-group-button {
  padding: 0 0.3em;
  border-radius: 0.4em;

  .my-item-minimal-group-button_inner {
    padding: 0.4em 0;
    cursor: pointer;
  }
  .my-item-minimal-group-button_arrow {
    margin-right: 0.6em;
    transition: all 0.3s;
  }

  &.isOpen {
    .my-item-minimal-group-button_arrow {
      transform: rotate(90deg);
    }
  }
}
.my-item-minimal-group-collapse {
  padding-left: 37px;
}

.want-editor_dup_protection-container {
  .form-check-label {
    font-size: 12px;
  }
}
