.main-wrap {
  position: relative;
  z-index: $main-wrap-z;
  display: block;
  min-height: 100%;
  animation: show-wrap 0.7s;
  padding-top: $main-header-height;
  padding-bottom: $main-footer-height;
  padding-left: $main-sidebar-closed-w + $main-control-px;

  &.sidebar-open {
    padding-left: $main-sidebar-open-w + $main-control-px;
  }
  &.sidebar-animation-enabled {
    transition: padding-left $main-sidebar-transition $main-sidebar-delay;
  }
  &.for-semi {
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.main-container {
  max-width: $main-container-width;
  padding: 0 20px;
  margin: 0 auto;
  &.full {
    max-width: 100%;
  }
}

.main-container-wide {
  margin: 0 50px;
}

@keyframes show-wrap {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: $mobile_limit) {
  .main-wrap {
    &,
    &.sidebar-open,
    &.for-semi {
      padding-top: $header-mobile-h * 1.2;
      padding-left: 0;
      padding-right: 0;
    }

    &.show-mobile-sidebar {
      overflow: hidden;
      height: 100%;
    }
  }
  .main-container {
    padding: 0 10px;
  }
}
