.wrap-public {
  background: $bg-body-1;
  background: linear-gradient(0deg, $bg-body-2 0%, $bg-body-1 80%);
}
.main-container-public {
  max-width: $main-container-width * 0.75;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  padding: 25px 15px;
}
