.grid-check-canvas-container {
  position: relative;
}

.grid-check-canvas {
  display: block;
  background-color: #fff;

  &.canvas_check {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
  }
}
