.mywants-grid_myItems-container {
  height: $mywants-my-Items-lab-height;
}

.mywants-grid_myItems-row {
  display: flex;

  .my-item-lab {
    width: 0px;
    height: $mywants-my-Items-lab-height;
    overflow: hidden;
    transition: width $mywants-grid-duration, flex $mywants-grid-duration;
    flex: 0 0 0;

    .my-item-lab_content {
      position: relative;
      margin-left: 0.5 * ($mywants-grid-h - $mywants-grid-inner-h) - 1px;
      width: $mywants-grid-inner-h + 2px;
      border: 1px solid #ddd;
      background-color: #e6e6e6;
      border-radius: 4px;
      height: 100%;

      .my-item-rotated-container {
        width: $mywants-my-Items-lab-height;
        height: $mywants-grid-inner-h;
        position: absolute;
        bottom: -$mywants-grid-inner-h;
        left: 0;
        transform-origin: 0px 0px;
        transform: rotate(-90deg);
        //background-color: rgba(255, 0, 0, 0.479);

        &.for-group {
          bottom: 0;
          width: $mywants-my-Items-lab-height - (2 * $mywants-grid-inner-h);
        }
      }

      .my-item-lab_name {
        white-space: nowrap;
        line-height: $mywants-grid-inner-h;
        font-weight: bold;
      }

      .my-item-lab_arrow {
        position: absolute;
        bottom: 0;
        left: 0;
        width: $mywants-grid-inner-h;
        height: $mywants-grid-inner-h;
        padding-top: 0.5 * ($mywants-grid-inner-h - 25px);
        padding-left: 0.5 * ($mywants-grid-inner-h - 25px);
        cursor: pointer;
        transition: transform $mywants-grid-duration;

        .my-item-lab_arrow-inner {
          width: 25px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          border-radius: 50%;
          transition: background-color 0.1s;
        }

        &:hover {
          .my-item-lab_arrow-inner {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }

        &.extended {
          transform: rotate(90deg);
        }
      }
      .my-item-lab_valuation {
        position: absolute;
        top: 0;
        left: 0;
        width: $mywants-grid-inner-h;
        height: $mywants-grid-inner-h;
        padding-top: 0.5 * ($mywants-grid-inner-h - 28px);
        padding-left: 0.5 * ($mywants-grid-inner-h - 28px);
        .btn.btn_circle {
          margin-left: 0;
        }
      }

      .item-minimal {
        padding: 0;
      }

      &.isInner {
        background-color: #fff;
        .my-item-rotated-container {
          padding-left: 15px;
        }
      }
    }
    &.extended {
      width: $mywants-grid-h;
      flex: 0 0 $mywants-grid-h;
    }
  }
  .mywants-grid_myItems-row_padding {
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
  }
}
