.mywants-grid-spacer {
  width: $mywants-grid-left-width;
  height: $mywants-my-Items-lab-height;
  flex: 0 0 $mywants-grid-left-width;
  padding: 0 0 1px;
  .mywants-grid-spacer_cont {
    //  background-color: #eee;
    height: 100%;
    border-radius: 6px;
    border: 1px solid $border-color;
    position: relative;

    .mywants-grid-spacer_lab-my-items,
    .mywants-grid-spacer_lab-my-wants {
      position: absolute;
      height: $mywants-grid-spacer-lab-h;
      padding-left: 15px;
      & > .row {
        height: $mywants-grid-spacer-lab-h;
      }
      .mywants-grid-spacer_lab-text {
        padding-right: 20px;
      }
      .mywants-grid-spacer_lab-orderby {
        width: 290px;
      }
    }
    .mywants-grid-spacer_lab-my-items {
      width: $mywants-my-Items-lab-height;

      bottom: -$mywants-grid-spacer-lab-h;
      left: $mywants-grid-left-width - $mywants-grid-spacer-lab-h;
      transform: rotate(-90deg);
      transform-origin: top left;
    }
    .mywants-grid-spacer_lab-my-wants {
      width: $mywants-grid-left-width - $mywants-grid-spacer-lab-h - 2px;
      border-right: $border;
      bottom: 0;
      left: 0;
    }

    .mywants-grid-spacer_lab-cont {
      position: absolute;
      border-bottom: 1px solid $border-color;
      border-right: 1px solid $border-color;
      background-color: #fff;
      top: 0;
      left: 0;
      right: $mywants-grid-spacer-lab-h;
      bottom: $mywants-grid-spacer-lab-h;

      border-radius: 6px 0 0 0;
    }
    .mywants-grid-spacer_lab-cont_row-1 {
      text-align: center;
      padding: 15px;
      border-bottom: 1px solid $border-color;
    }
    .mywants-grid-spacer_lab-cont_row-2 {
      padding: 15px 0;
    }
  }
  .mywants-grid-spacer_lab-toolbox {
    padding: 0 10px;
    border-left: $border;
    &.no-border {
      border-left: none;
    }
  }
}
