@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hf4yvk');
  src:  url('../fonts/icomoon.eot?hf4yvk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hf4yvk') format('truetype'),
    url('../fonts/icomoon.woff?hf4yvk') format('woff'),
    url('../fonts/icomoon.svg?hf4yvk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icomoon-"], [class*=" icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-bgg:before {
  content: "\e901";
}
.icomoon-telegram:before {
  content: "\e900";
}
