.bgg-link {
  display: block;
  text-decoration: none;
  color: $text-color;
  .icon {
    margin-left: 0.1em;
    vertical-align: middle;
  }
  &:hover {
    text-decoration: underline;
    color: $bgg;
  }
}
.bgg-rank-num {
  display: inline-block;
  padding: 0 4px;
  line-height: 26px;
  min-width: 26px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background-color: darken($primary, 10);
  border: none;
}
.bgg-rating-num {
  display: inline-block;
  padding: 0 2px;
  line-height: 26px;
  min-width: 26px;
  border-radius: 50%;
  text-align: center;
}
@each $num, $color in $ratingsBGG {
  .bgg-rating-num-#{$num} {
    color: #fff;
    background-color: $color;
  }
}
.dragger-spacer {
  width: 0;
  height: 2px;

  transition: width 0.2s;

  &.show {
    width: $btn_circle-w - $element-full-p;
  }
}
.bgg-game-box_dependency_list-item {
  font-size: 11px;
  line-height: 1.2;
  width: 300px;
  border-bottom: 1px solid $border-color;
  padding-bottom: 3px;
  margin-bottom: 0;
}
.item-full_own-item {
  display: inline-block;
  font-size: 12px;
  background-color: #fff;
  position: relative;
  top: 16px;
  font-style: italic;
  color: $text-muted;
}
.item-full {
  margin-bottom: 25px;
  position: relative;

  .item-full-card {
    border-radius: $card-border-radius;
    background-color: $card-bg;
    border: 1px solid transparent;
    box-shadow: $main-box-shadow;
    min-height: 120px;

    &.in-modal {
      border: 2px solid $border-color;
      box-shadow: none;
    }
  }
  .item-full-title {
    font-size: $item-title-fz;
    // font-weight: bold;
    color: $element-title-color;
    margin-right: 200px;
    padding: 10px 15px;
    .item-full-title_name {
      color: $item-title-color;
      font-style: italic;
    }
  }
  .item-full-btn-row {
    position: absolute;
    top: 0;
    right: 0;
  }
  .item-full-footer {
    border-top: $border;
  }

  &.with-btn-row-h {
    padding-right: $item-pr;
  }
  &.with-btn-row-v {
    padding-top: $item-pt;
  }
  &.high-offered {
    .item-full-card {
      border-color: $mathtrade-offer-border-color;
    }
  }
  &.high-wanted {
    .item-full-card {
      border-color: $mathtrade-want-border-color;
      box-shadow: $main-box-shadow,
        0 0 0 3px rgba($mathtrade-want-border-color, 0.8);
    }
  }
}
.element-full {
  padding: $element-full-p;
  position: relative;

  .element-full-btn-row {
    position: absolute;
    top: 10px;
    right: -$item-pr;
  }

  .element-full-thumbnail {
    width: 200px;
    max-height: 380px;
    border-radius: $thumbnail-border-radius;
    overflow: hidden;
  }

  .element-full-data {
    padding-left: 25px;
    padding-right: 15px;
    position: relative;
    height: 100%;

    &.with-delete {
      padding-right: 40px;
    }
  }
  .element-full-title {
    .element-full-title_in {
      display: inline-block;
      font-size: $element-title-fz;
      font-weight: bold;
      color: $element-title-color;
      vertical-align: middle;
    }
    .bgg-link {
      text-decoration: none;

      .icon {
        font-size: 14px;
        margin-left: 0.4em;
      }
      &:hover {
        text-decoration: underline;
        color: $bgg;
      }
    }

    &.with-btns {
      margin-right: $element-full-title-mr;
    }
  }

  .element-full-pills {
    border-top: 1px dotted $border-color;
  }

  .element-full-delete-btn {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &.isCombo {
    border-top: $border;
  }

  .element-full-photoGallery {
    padding-top: 30px;
    padding-bottom: 10px;
    .element-full-photoGallery-title {
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
      .icon {
        transition: transform 0.2s;
      }

      &.is-open {
        .icon {
          transform: rotate(90deg);
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }
    .element-full-photoGallery-container {
      padding-top: 10px;
    }
  }
}

.element-type-badge {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  background-color: #ddd;
  padding: 0 1em;
  margin-left: 1em;
  vertical-align: middle;
  border-radius: 4px;
  border: 1px solid #ddd;
  text-transform: uppercase;
  cursor: default;
  &.b-1 {
    background-color: rgba($element-type-badge-bg-1, 0.15);
    color: $element-type-badge-bg-1;
    border-color: $element-type-badge-bg-1;
  }
  &.b-2 {
    background-color: rgba($element-type-badge-bg-2, 0.15);
    color: $element-type-badge-bg-2;
    border-color: $element-type-badge-bg-2;
  }
  &.b-3 {
    background-color: rgba($element-type-badge-bg-3, 0.15);
    color: $element-type-badge-bg-3;
    border-color: $element-type-badge-bg-3;
  }
}
