.item-minimal {
  $p: 10px;
  //border-top: 1px solid $border-color;
  padding: 2px 0;
  border-bottom: 1px dotted $border-color;

  .item-minimal_cont {
    // background-color: #eee;
    padding: 2px 0 2px $p;
    border-radius: 6px;
    //border-top: 1px solid $border-color;
  }

  .item-minimal_checkbox {
    padding-right: $p;
  }
  .item-minimal_thumbnail {
    width: 26px + $p;
    padding-right: $p;

    .thumbnail {
      &,
      img {
        border-radius: 4px;
      }
    }
  }
  .item-minimal_title {
    padding-right: $p;

    .item-minimal_title-text {
      font-size: 12px;
      line-height: 1.1;
      font-weight: bold;
    }
    .item-minimal_title-subtitle {
      font-size: 10px;
      line-height: 1;
      padding-top: 2px;

      span {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }
  .item-minimal_user {
    padding-right: $p;
    .item-minimal_own_user {
      font-size: 12px;
      line-height: 1.1;
      font-style: italic;
    }
    .user_item-text {
      font-size: 12px;
    }
  }
  .item-minimal_previewer {
    padding-right: $p;
  }
  .item-minimal_valuation {
    padding-right: $p;
    cursor: default;
  }

  &.disabled {
    opacity: 0.5;
  }
  &.selected {
    .item-minimal_cont {
      background-color: rgba($primary, 0.2);
    }
  }
  &.rotated {
    .thumbnail,
    .previewer,
    .item-minimal_valuation {
      transform: rotate(90deg);
    }
  }
}
// .item-minimal_wrap {
//   padding: 4px;
//   border-bottom: 1px solid $border-color;
//   &.selected {
//     background-color: $mathtrade-bg-1;
//   }
// }
