.user_item {
  //background-color: #eee;
  .user_item-content {
    padding-left: 10px;
  }
  .user_item-text {
    font-size: 13px;
    font-weight: bold;
  }
  .user_item-label {
    line-height: 1;
    font-size: 10px;
  }
  &.minimal {
    margin-bottom: 0;
    padding: 4px 6px;
  }
}

$full-user-bg: #f6f6f6;

.item-full-user {
  padding: $element-full-p;
  background-color: $full-user-bg;
  border-radius: 0 0 $card-border-radius $card-border-radius;
  border-top: $border;
}
.element-full-user {
  margin-top: 25px;
  background-color: $full-user-bg;
  border: 1px solid darken($full-user-bg, 5);
  padding: 6px 11px;
  border-radius: 0.5 * $thumbnail-border-radius;
}
