.quad-want_myItemGroup-header {
  padding: 10px 0 20px;
  border-bottom: $mywants-group-border-bottom;
  margin-bottom: 30px;
}

.quad-want_myItemGroup-list {
  $quad-w: 180px;
  $quad-p: 8px;
  $quad-inner-w: $quad-w - (2 * $quad-p);

  .quad-want_text {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    width: $quad-w;
    text-align: center;
    &.for-send {
      color: $result-send-color;
    }
    &.for-receive {
      font-size: 16px;
      color: $result-receive-color;
    }
  }

  .quad-want_myItemGroup {
    border-bottom: $mywants-group-border-bottom;
    margin-bottom: 60px;

    .quad-want_myItemGroup-item {
      padding: 0px 0 15px;

      position: relative;

      border-bottom: 1px solid $result-receive-color;

      .quad-want_myItemGroup-item-title {
        padding-bottom: 10px;
      }
      $arrow-w: 10px;
      &:before,
      &:after {
        position: absolute;
        bottom: -2 * $arrow-w;
        left: 0.5 * $quad-w - $arrow-w;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $arrow-w;
        border-color: $result-receive-color transparent transparent;
      }
      &:after {
        border-color: #fff transparent transparent;
        bottom: -2 * $arrow-w + 2px;
      }
    }
    .quad-want_myItemGroup-group {
      padding: 15px 0 30px;
      .quad-want_myItemGroup-group-title {
        padding-bottom: 10px;
      }
    }
  }

  .quad-want_myItemGroup-quad-wrap {
    position: relative;
    .quad-want_myItemGroup-quad-cont {
      position: relative;
      width: $quad-w;
      border: $border;
      padding: $quad-p - 1px;
      border-radius: 12px;

      .quad-want_myItemGroup-quad {
        width: $quad-inner-w;
        height: $quad-inner-w;
        overflow: hidden;
        position: relative;
        .previewer {
          position: absolute;
          bottom: 3px;
          right: 3px;
        }

        &.isGroup {
          cursor: pointer;
          transition: opacity 0.2s;

          .quad-want_icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            color: #fff;
            font-size: 40px;
            opacity: 0;
            transition: opacity 0.2s;
          }

          &:hover {
            opacity: 0.7;
            .quad-want_icon {
              opacity: 1;
            }
          }
        }
      }

      &.for-game {
        background-color: rgba($mywants-game-bg, 0.1);
      }
      &.for-tag {
        background-color: rgba($mywants-group-bg, 0.2);
      }
      &.for-add-inner {
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
      }
      &.for-add {
        .quad-want_myItemGroup-quad {
          border: $border;
          cursor: pointer;
          .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            font-size: 50px;
            opacity: 0.2;
          }
        }
      }
    }
    .quad-want_myItemGroup-delete {
      $w: 22px;
      position: absolute;
      top: -4px;
      right: -4px;
      width: $w;
      height: $w;
      line-height: $w;
      text-align: center;
      background-color: $danger;
      color: #fff;
      font-size: 12px;
      border-radius: 50%;
      cursor: pointer;
      opacity: 0;
    }

    &:hover {
      .quad-want_myItemGroup-delete {
        opacity: 1;
      }
    }

    .quad-want_myItemGroup-add {
      $wa: 30px;
      position: absolute;
      top: -5px;
      right: -5px;
      width: $wa;
      height: $wa;
      line-height: $wa;
      text-align: center;
      background-color: $mathtrade-want-color;
      color: #fff;
      border-radius: 50%;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
      cursor: pointer;
      .icon {
        position: relative;
        top: 1px;
      }
      &:hover {
        background-color: darken($mathtrade-want-color, 10);
      }
    }

    .quad-want_myItemGroup-quad-add-triang {
      position: absolute;
      bottom: 0;
      left: 0.5 * $quad-w - 12px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 12px;
      border-color: transparent transparent #ddd;
    }
  }

  .quad-want_myItemGroup-group-container {
    $p: 15px;

    display: flex;
    flex-wrap: wrap;

    margin-right: -1 * $p;
    margin-bottom: -1 * $p;

    .quad-want_myItemGroup-quad-wrap {
      padding: 0 $p $p 0;
    }
  }
}
.quad-want_myItemGroup-add-container {
  padding-top: 15px;
  .quad-want_myItemGroup-add-cont {
    position: relative;
    background-color: #ddd;
    border-radius: 10px;
    min-height: 200px;
    padding: 20px;

    .quad-want_myItemGroup-add-cont-close {
      $wac: 24px;
      position: absolute;
      top: 0;
      right: 0;
      width: $wac;
      height: $wac;
      line-height: $wac;
      text-align: center;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}
